<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>You can contact us in all the usual ways:</p>
<ul>
	<li><a href="mailto:malevolence@gmail.com">Email</a></li>
	<li><a href="http://twitter.com/malevolenc">Twitter</a></li>
	<li><a href="http://malevlence.org">Website</a></li>
</ul>