<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>To get help with this tutorail, visit <a href="http://railstutorial.org/" target="_blank">railstutorial.org</a></p>
<p>To view the associated book, visit <a href="http://railstutorial.org/book" target="_blank">railstutorial.org/book</a></p>
