<div class="jumbotron">
<h1>Ruby on Rails Tutorial Sample App</h1>
<p class="text-center">This is the homepage for the ruby on rails tutorial sample application (a twitter clone).</p>
<p class="text-center"><%= link_to "Sign Up Now!", signup_path, class: "btn btn-primary btn-lg" %></p>
</div>